<!DOCTYPE html>
<html>
  <head>
    <title>ReactReduxTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <header>
      <h1>ReactReduxTutorial</h1>
    </header>
    <hr>
    <main id="app-main"></main>
    <%= yield %>
  </body>
</html>
